PORT=6001
MONGODB_URL="Enter your mongodb url"
REDIS_URL="Enter your redis url"
FIREBASE_PROJECT_ID="Enter your firebase project id"
FIREBASE_CLIENT_EMAIL="Enter your firebase client email"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"